@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&family=Josefin+Slab:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Slab', serif;
}

/* Colours and styling */
:root{
    --white: "#fff";
    --darkslateblue: "#0d4587";
    --steelblue: "#265790";
    --black: "#000";
    --gradientColour: linear-gradient(to right, hsl(187,85%, 43%), hsl(199, 100%, 33%));
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items:center;
}

.btn{
    padding: .6rem 1.5rem;
    background: var(--gradientColour);
    border-radius: 3rem;
    border: none;
    outline:none;
    cursor: pointer;
}

.btn a{
    color: var(--white);
    font-weight: 500;
}

.btn:hover{
    background: var(--steelblue);
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}

body{
    background-color: var(--white);
}